
html, body, div, span, a
h1, h2, h3, h4, h5, h6, p, 
fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */


body{
    background-color:#fff8e2;
    margin: 0 auto;
    font-size: 18px;
    line-height: 13px;
    font-family: 'museo-slab',arial,sans-serif;
}
.bg-warning {
  background-color: #ffffff!important;
}
input[type="text"], select {
    width: 100%;   
    font-weight: bold;
    color: #000000 !important;
    display: inline-block;
    background-color: #ffffff;
    height: 73px;
    padding: 20px 20px;
    margin: 4px 0;
    border: none;
    font-size: 20px;
  }
  button[type=submit] {
    width: 100%;
    height: 73px;
    background-color:#1b1e1f;       
    color: #ffffff;
    padding: 20px 20px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    font-size:20px;
  }
  button[type=submit]:hover {
    background-color: #3f4749;
    color:#ffffff;
    transition-duration: 0.6s;
  }
  input::-webkit-input-placeholder {
    color: #000000 !important;
    }
  .container {
    padding: 0px 10px 10px 10px;
    margin:80px auto;
    display:block;
    max-width:740px; 
  }

  @media only screen and (max-width: 600px) {
    .container {
      margin: 40px auto;
    }
    .lead{
      font-size:1.11em !important;    
    }
  }

  .innerTitle{
    font-size: 18px;
    font-weight: 900;
    line-height: 30px;
  }
  